
# Base url to OpenAI LLM
OPENAI_BASE_URL=

# API key for OpenAI LLM
OPENAI_API_KEY=

# The OpenAi Model name to use
MODEL_NAME=gpt-4o

# The path to the chat history DB (defaults to "metrics.db" if not set)
CHAT_DB_PATH=metrics.db